* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    
}

button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }

  a {
      text-decoration: none;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    color: $dark-blue;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
  }
  
  hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
    background: $yellow;
  }